*{
    margin: 0;
}
.top{
    background-color: #3C4AED;
    display: flex;
    justify-content: center;
    padding: 1.5rem 15rem;
    gap: 30rem;

}

.float{
    position:fixed;
    width:60px;
    height:60px;
    bottom:90px;
    right:23px;
    text-align:center;
    font-size:30px;
    align-content: center ;
}

/* .my-float{
    margin-top:16px;
} */


.arrowbtn{
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 9;
}

.arrowbtn a{
    height: 39px;
    width: 37px;
    text-align: center;
    background: #3C4AED;
    display: block;
    border-radius: 50px;
    cursor: pointer;
}

.arrowbtn a span{
    color: black;
    line-height: 39px;
    font-size: 25px;
}

html{
    scroll-behavior: smooth;
}


#logo{
    height: auto;
    width: 5rem;
}

#navigation{
    display: flex;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    color: white;
    padding: 1rem;
}

#list{
    list-style-type: none;
    animation: forwards;
}

.firstlist{
    display: inline;
    padding: 0rem 1rem ;
}

#dropdown{
    font-size: 16px;
    font-weight: bold;
    background: none;
    color: white;
    outline: 0;
    border: 0;
    overflow: auto;
    cursor: pointer;
}

.drop{
    background: #3C4AED;
    color: white;
}

.firstlist:hover{
    text-decoration: solid;
    text-decoration: underline;
}

.mainblue{
    background-color: #3C4AED;
    height: 73rem;
}

#heading{
    text-align: center;
    font-family: Montserrat, sans-serif;
    font-size: 40px;
    line-height: 1.15;
    font-weight: 700;
    color: white;
    padding: 4rem;
}

#firstVideo{
    display: flex;
    justify-content: center;
}



.mainwhite{
    background-color: white;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#power{
    text-align: center;
    padding-top: 6rem;
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    line-height: 1.3;
    font-weight: 300;
    text-transform: none;
    margin-top: 20px;
    margin-bottom: 10px;
    color: #434242;
}

#wepara{
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    color: #949494;
    font-size: 18px;
    font-weight: 400;
    text-transform: none;
    padding: 2rem;
}

#contactus{
    justify-content: center;
    margin-top: 1.5rem;
    color: #3C4AED;
    padding: 16px 25px;
    border: 1px none #096ad0;
    border-radius: 40px;
    background-color: #fff;
    box-shadow: 0 4px 11px 0 rgba(146, 96, 0, 0.35);
    transition: all 200ms ease;
    font-family: Montserrat, sans-serif;
    font-size: 11px;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    cursor: pointer;
}

#contactus:hover{
    background-color: #3C4AED;
    color: white;
}

.row1{
    margin: 7rem 25rem 5rem 25rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10rem;
}

.row2{
    margin: 7rem 25rem 5rem 25rem;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    gap: 10rem;
}

.rowheading{
    font-family: Montserrat, sans-serif;
    color: #333;
    font-size: 25px;
    line-height: 1.2;
    font-weight: 900;
}

.rowpara{
    padding: 1rem 0rem 1rem 0rem;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
    text-decoration: solid;
    color: #565656;
}

.links{
    color: #3C4AED;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1px;
    text-decoration: underline;
    text-transform: uppercase;
    cursor: pointer;
}

#solutionpic{
    height: auto;
    width: 30rem;
}

#technologypic{
    height: auto;
    width: 32rem;
}

#domainpic{
    height: auto;
    width: 30rem;
}

#careerbut{
    background: #3C4AED;
    color: white;
    border-style: solid;
    border-radius: 50px;
    border-color: white;
    cursor: pointer;
    text-decoration: solid;
    box-sizing: border-box;
    font-size: 15px;
    line-height: 24px;
    padding: 0.5rem 1rem 0.5rem 1rem;
}

#careerbut:hover{
    background-color: white;
    color: #3C4AED;
    transition: 0.3s;
}

#fourgrid{
    align-items: center;
    width: 90%;
    margin: auto;
    height: 60rem;
    box-shadow: 10px 0 80px 0 rgb(31 44 61 / 10%);
    display: flex;
    flex-direction: row;
    gap: 6rem;
}

#leftdivofgridheading{
    /* max-width: 330px; */
    /* margin-right: 100px; */
    /* text-align: right; */
    color: #333;
    font-family: Montserrat, sans-serif;
    font-size: 60px; 
    line-height: 1.1;
    font-weight: 900;
    text-transform: uppercase;

}

#leftdivofgrid{
    text-align: end;
    padding: 0rem 0rem 0rem 25rem;
}

#rightdivofgrid{
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 6rem;
    padding-right: 25rem;
}

.rightdivofgridheading{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2rem;

}

.rightdivofgridimg{
    width: 25%;
    height: auto;
}

.rightdivofgridpara{
    font-size: 16px;
    font-weight: 400;
    text-decoration: solid;
    color: #565656;
    line-height: 1.5;
    margin-bottom: 20px;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-family: 'Open Sans', sans-serif;
}

#clientele{
    padding-top: 10rem;
    justify-content: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #333;
    

}

#global{
    line-height: 1.15;
    font-family: 'Open Sans', sans-serif;
    font-size: 36px;
    font-weight: 920;
    padding-bottom: 2rem;
}

#navigation2{
    outline: none;
    cursor: pointer;
    color: #333;
    text-decoration: none;
    margin: 5px;
    height: 20px;
    border: none;
    background-color: transparent;
    font-family: Montserrat, sans-serif;
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
}

#list2{
    list-style-type: none;
    animation: forwards;
}

.secondlist{
    display: inline;
    padding: 0rem 1rem ;
}

.secondlist:hover{
    color:#3C4AED;
    text-decoration: underline;
    font-size: large;
}

#slidingImage{
    display: flex;
    justify-content: center;
    padding-top: 2rem;
}

#client-img{
    width: 40%;
}







/* grid-template-columns: auto auto; */
/* width: ; */    
/* margin grid-auto-flow: ; */
/* display grid; */
